{% extends "layout.html" %}

{% block title %}Arvion muokkaus{% endblock %}

{% block content %}
<h2>Arvion muokkaus</h2>
<form action="/update_item/{{ item.id }}" method="post">
  <p>
    Kirjan nimi:<br>
    <input type="text" name="title" value="{{ item.title }}" maxlength="50" required>
  </p>
  <p>
    Kirjailija:<br>
    <input type="text" name="author" value="{{ item.author }}" maxlength="50" required/>
  </p>
  {% for class in classes %}
  <p>
    {{ class }}: <br>
    <select name="classes">
      <option value="">(valitse)</option>
      {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </p>
    {% endfor %}
    <p>  
    Arvio (1-5):<br>
    <input type="number" name="rate" min="1" max="5" value="{{ item.rate }}" size="10" required>
  </p>
    <p>
      Kuvaus:<br>
      <textarea name="description" rows="8" cols="40">{{ item.description }}</textarea>
    </p>   

  <p>
    <input type="submit" value="Päivitä arvostelu">
    <input type="submit" name="cancel" value="Palaa takaisin">
  </p>
</form>
{% endblock %}