{% extends "layout.html" %}

{% block title %}Uusi kirja{% endblock %}

{% block content %}

<h2>Uusi kirja</h2>

<form action="/create_items" method="post">

<p>
  <label for="title">Kirjan nimi: </label> <br />
  <input type="text" name="title" id="title" maxlength="50" required>
</p>

<p>
  <label for="author">Kirjailijan nimi: </label> <br />
  <input type="text" name="author" id="author" maxlength="50" required>
</p>

{% for class in classes %}
<p>
  <label for="class{{  class  }}">{{ class  }}</label>:<br />
  <select name="classes" id="class{{ class  }}" required>
    <option value="">(valitse)</option>
    {% for option in classes[class] %}
    <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
  </select>
</p>
{% endfor %}

<p>
  <label for="description">Kuvaus: </label> <br />
  <textarea name="description" id="description" rows="8" cols="40" maxlength="500"></textarea>
</p>

<p>
  <label for="rate">Arvio (1–5):</label> <br>
  <input type="number" name="rate" id="rate" min="1" max="5" required>
</p>

<p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo arvostelu">
</p>

</form>
{% endblock %}
